.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background:#FDE2FF;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-logo h3{
    font-size: 30px;
    font-weight: 600;
    color: #006226;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 3px
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #8ab815;
    font-size: 20px;
    font-weight: 600;
}

.nav-menu hr{
    border: none;
    width: 90%;
    height: 3px;
    border-radius: 10px;
    background: #006226;

}

.nav-login-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav-login-cart button{
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #006226;
    border-radius: 75px;
    background-color: #006226;
    font-size: 15px;
    font-weight: 600;
    color: #FDE2FF;
    cursor: pointer;
}

.nav-login-cart button:hover{
    background: #8ab815;
}

.nav-cart-count{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -46px;
    margin-left: -45px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 600;
    background: red;
    color:#FDE2FF;
}